/**
 * $accentColor=# 3eaf7c// 테마 색상
 * $textColor=# 2c3e50// 텍스트 색상
 * $borderColor=# eaecef// 경계선 색상
 * $codeBgColor=# 282c34// 코드 블록 배경빛깔
 * $backgroundColor=# ffffff// 오버행 블록 배경빛깔
 */
$accentColor= #4171f6 